.view-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.view {
  position: relative;
  top: 0;
  display: none;
}

.main-view .logo {
  height: 280px;
  width: 280px;
  border-radius: 100%;
}

#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: 0;
}

#background-video::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.4);
}

#background-video video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.capture-view .camera {
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;
  height: 280px;
  width: 280px;
  position: relative;
}

.capture-view .camera video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}
